favorites=exo-web-browser.desktop,exo-file-manager.desktop,libreoffice-writer.desktop,libreoffice-calc.desktop,pidgin.desktop,org.gnome.Software.desktop,exo-terminal-emulator.desktop
recent=exo-web-browser.desktop,exo-file-manager.desktop,atom.desktop,exo-terminal-emulator.desktop,pavucontrol.desktop,org.gnome.Software.desktop,petri-foo.desktop,terminator.desktop,alsamixergui.desktop,libreoffice-writer.desktop
button-title=Applications Menu
button-icon=/home/felipe/.config/xfce4/panel/Z.png
button-single-row=false
show-button-title=false
show-button-icon=true
launcher-show-name=true
launcher-show-description=false
item-icon-size=1
hover-switch-category=false
category-icon-size=0
load-hierarchy=true
recent-items-max=10
favorites-in-recent=true
display-recent-default=false
position-search-alternate=false
position-commands-alternate=false
position-categories-alternate=false
menu-width=415
menu-height=478
menu-opacity=100
command-settings=xfce4-settings-manager
show-command-settings=true
command-lockscreen=xflock4
show-command-lockscreen=true
command-switchuser=dm-tool switch-to-greeter
show-command-switchuser=false
command-logout=xfce4-session-logout
show-command-logout=true
command-menueditor=menulibre
show-command-menueditor=true
command-profile=mugshot
show-command-profile=true
search-actions=4

[action0]
name=Página principal
pattern=#
command=exo-open --launch TerminalEmulator man %s
regex=false

[action1]
name=Wikipedia
pattern=!w
command=exo-open --launch WebBrowser https://en.wikipedia.org/wiki/%u
regex=false

[action2]
name=Executar em terminal
pattern=!
command=exo-open --launch TerminalEmulator %s
regex=false

[action3]
name=Abrir URI
pattern=^(file|http|https):\\/\\/(.*)$
command=exo-open \\0
regex=true

